# Virtual Environments
venv/
.env
__pycache__/
*.pyc

# Datasets & Ingestion
code/data/
code/cdm_data/
*.csv
*.tsv

# Models & Indices
*.pkl
*.faiss
*.duckdb
*.duckdb.wal

# IDE / System
.vscode/
.idea/
.DS_Store
